.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
  color: #fff;
  padding: 50px;
  width: 400px;
  margin: 0 auto;
  background-color: #374954;
  text-align: center;
}

h1 {
  font-size: 100px;
}

label {
  font-size: large;
}
input {
  width: 50px;
  height: 25px;
  border: 3px solid #6bbe92;
  border-radius: 5px;
}
.container {
  margin: 60% auto;
}

button {
  display: inline-block;
  background-color: #6bbe92;
  border: 0;
  width: 60px;
  margin: 10px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 50px;
}
button.reset-btn {
  width: 130px;
}
